@font-face {
   font-family: 'SanamDeklen_chaya';
   font-display: swap;
   src: url('SanamDeklen_chaya/font.ttf');
}
@font-face {
   font-family: 'TH Dan Vi Vek Bold ver 1.03';
   font-display: swap;
   src: url('TH Dan Vi Vek Bold ver 1.03/font.ttf');
}
