@font-face {
   font-family: 'SanamDeklen_chaya';
   font-display: swap;
   src: url('file:///C:/Users/asus/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-10_004157/fonts/SanamDeklen_chaya/font.ttf');
}
